.lead__image {
    position: relative;
    margin: 61px 148px 4px 148px;
    padding: 0;
    width: calc(100% - 296px);
    
    object-fit: cover; 
}

@media screen and (max-width: 1279px) {
    .lead__image {
        margin: 56px 48px 4px 48px;
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        margin: 56px 0 4px 0;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        margin: 40px 4px 0;
    }
}