.intro {
    position: relative;
    margin: 0 0 0 148px;
    padding: 0; 
    max-width: 690px;
    align-self:center;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 48px;
    }    
}

@media screen and (max-width: 1023px) {
    .intro {
        margin: 0 24 0 24px;
        max-width: 1975px;
    }    
}



